/* body{
    background-color: #0a082d;
    margin: 0;
    padding: 0px 0;
}
nav{
    margin: 0;
    padding:5px 0;
    padding-bottom: 40px;
    background-color: #2e3756;
    border-radius: 0 0 30% 30%;
}
nav h2{
    font-size: 1.8rem;
    font-weight: 800;
    margin-left: 20px;
    color: white;
}
nav input{
    width:80%;
    border-radius: 16px;
    display: block;
    margin:0 auto;
    padding: 8px 13px;
} */